# PyCharm IDE
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.venv

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Project specific
*.log
